

.logo{
    text-align: center;
    width: 250px;
    display: block;
    margin: auto; 
  }

  .ingresar{
    text-align: center;
  }
  .enlace {
    text-align: center;
  }

  ion-card{
    background-color: rgb(127, 255, 212);
  }