.boton{
  text-align: center;
  color:gold;
}
.historial{
  background-color: var(--ion-color-secondary-shade);
}

.saludo{
  text-align: center;
}

.logo img{
  text-align:center;
  width: 250px;
  display: block;
  margin: auto;
  margin-bottom: 100px;
  
}